body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
/* NAV BAR==================================*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: .5em 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.nav-list {
    margin: 0 1em;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-list li {
    color: white;
    cursor: pointer;
}
.nav-list li {
    margin-left: 1em;
}
/* end nav bar=============================== */

/* FORM CONTAINER =========================== */
.form-container {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 3;
    background: rgba(0,0,0,.75);
}
form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: white;
}
form button {
    padding: .5em 1em;
    font-family: monospace;
}
form input,
form label,
form button,
.unread-group,
.read-group {
    margin: .25em 1em .25em 1em;
    outline: none;
    border: none;
}
#show-hide-toggle {
    display: none;
}
/* end form container ======================= */

/* TITLE ==================================== */
.title-group {
    margin: 40px auto;
    text-align: center;
}
.welcome-text {
    margin: 0 auto;
    width: 50%;
    line-height: 2.8;
}
/* end title ================================ */


/* BOOK CARD ================================= */
.book-container {
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
}
.book-card {
    width: 150px;
    min-height: 200px;
    border: 1px solid black;
    border-left: 10px solid black;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 1px 1px 12px rgba(0,0,0,.25);
}
.status-group {
    margin-top: auto;
    font-size: .8em;
    display: flex;
    flex-direction: column;
}
.book-title,
.book-author,
.year,
.remove-book-button {
    margin-left: 1em;
}
.remove-book-button,
.unread-status-button {
    width: 120px;
    border: none;
    height: 2em;
    margin: auto auto .5em auto;
    background: rgba(0,0,0,.75);
    color: white;
    cursor: pointer;
}
/* style applied if  */
.read-status-button {
    width: 120px;
    border: none;
    height: 2em;
    margin: auto auto .5em auto;
    background: rgba(82, 208, 231, 0.75);
    color: white;
    cursor: pointer;
}
/* end book card ============================= */