body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
/* NAV BAR==================================*/
.nav-bar {
    background: rgba(0,0,0,.75);
}
.nav-list {
    margin: 0 1em;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-search-box p {
    margin-left: 1em;
}
.nav-search-box input {
    height: 1em;
}
body > div > ul > li:nth-child(2) {
    margin-left: 1em;
}
/* end nav bar=============================== */

/* TITLE ==================================== */
.title-group {
    text-align: center;
}
/* end title ================================ */

/* SEARCH GROUP ============================= */
.search-group {
    display: flex;
    flex-direction: column;
}
.search-box,
.search-button-group {
    margin: 1em auto;
}

