body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
/* NAV BAR==================================*/
.nav-bar {
    background: rgba(0,0,0,.75);
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.nav-list {
    margin: 0 1em;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-list li {
    color: white;
    cursor: pointer;
}
.nav-search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-search-box p {
    margin-left: 1em;
    color: white;
}
.nav-search-box input {
    outline: none;
    height: 1em;
    border: none;
}
body > div > ul > li:nth-child(2) {
    margin-left: 1em;
}
/* end nav bar=============================== */

/* FORM CONTAINER =========================== */
.form-container {
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,.75);
}
form {
    display: flex;
    flex-direction: column;
    color: white;
}
form button {
    padding: .5em 1em;
    font-family: monospace;
}
form input,
form label,
form button,
.unread-group,
.read-group {
    margin: .25em 1em .25em 1em;
    outline: none;
    border: none;
}
#show-hide-toggle {
    display: none;
}
/* end form container ======================= */

/* TITLE ==================================== */
.title-group {
    text-align: center;
}
/* end title ================================ */

/* SEARCH GROUP ============================= */
.search-box {
    display: flex;
    justify-content: center;
}
.search-box button {
    border: none;
    width: 120px;
    height: 2em;
    cursor: pointer;
    background: rgba(0,0,0,.75);
    color: white;
    font-family: monospace;
}
.search-box input,
.search-box button {
    margin: 0 1em;
}
.search-box input {
    border: none;
    outline: none;
    width: 50vw;
    border-bottom: 2px solid rgba(0,0,0, .75);
    padding: .25em;
}
/* end search group ========================== */

/* BOOK CARD ================================= */
.book-container {
    margin-top: 25vh;
}
.book-card {
    width: 150px;
    min-height: 200px;
    border: 1px solid black;
    border-left: 10px solid black;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 1px 1px 12px rgba(0,0,0,.25);
}
.status-group {
    margin-top: auto;
    font-size: .8em;
    display: flex;
    flex-direction: column;
}
.book-title,
.book-author,
.year,
.remove-book-button {
    margin-left: 1em;
}
.remove-book-button,
.unread-status-button {
    width: 120px;
    border: none;
    height: 2em;
    margin: auto auto .5em auto;
    background: rgba(0,0,0,.75);
    color: white;
    cursor: pointer;
}
/* style applied if  */
.read-status-button {
    width: 120px;
    border: none;
    height: 2em;
    margin: auto auto .5em auto;
    background: rgba(82, 208, 231, 0.75);
    color: white;
    cursor: pointer;
}
/* end book card ============================= */